body {
    background: linear-gradient(180deg, rgb(19, 6, 27) 5%, rgb(56, 15, 57) 100%);
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 50px;
    z-index: -1;
}

