#header {
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 50px;
    background-color:  #380f39;
    transition: box-shadow .3s ease-in-out;
    box-shadow: 2px 2px 15px 4px #070b14;
}

#logo {
    font-family: 'Sanchez', serif;
    font-size: 50px;
    margin: 5px;
    margin-right: 20px;
    color: #ffffb5;
    margin-top: -6px;
    transition: transform .1s ease-in-out, color .1s ease-in-out;
}

#logo:hover{
    transform: scale(1.05);
    color: #ffff89;
}

#logo-link{
    text-decoration: none;
}

#header-search-form {
    margin-bottom: 17px;
}

#header-search-form input {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-left: 4px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 20px;
    border: none;
}

#header-search-form input::placeholder{
   color: rgba(93, 20, 96, 0.903);
}

#header-search-form input:focus {
    outline: none;
    border: 2px #ffffb5 solid;
    height: 16px;
}

#header-search-form button {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #511452;
    border: none;
    font-weight: 300;
    font-size: 12px;
    height: 22px;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#header-search-form button:hover {
    background-color: #5d185e;
}

#header:hover{
    box-shadow: 0px -10px 40px hsl(60, 95%, 83%);
}