#preview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -15px;
    margin-top: 5px;
}

#preview-header h2 {
    font-family: 'Sanchez', serif;
    color: #ffffb5;
    font-size: 25px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 0;
}

#preview-header button {
    background: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
}

#preview-header button:hover{
    color:  rgb(255, 255, 160);
}


