#container-movie-ul, #slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 400px;
    width: calc(100vw - 120px);
}

#btn-scroll-left, #btn-scroll-right {
    z-index: 2;
    margin: 40px
}

#slider {
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    padding: 5px;
}

#fake-container {
    width: 200px;
    height: 300px;
}